<meta charset="UTF-8">
<title>Questions</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><style>
  body { padding-top:50px; }
  main{
    margin-bottom: 40px;
  }
</style>