<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <style>
    li a h4{
      color: black;
      font-size: 18px;
    }
  </style>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h5>Questions</h5>
    <ul>
      <li><a href="/qClock"><h4>Find how many degrees there between the two hands of a clock?</h4></a></li>
      <li><a href="/qFire"><h4>A fire fighter has to get to a burning building as quickly as he can. There are three paths that he can take. He can take his fire engine over a large hill, windy road or dirt road with given speed and distance. Which way should he choose?</h4></a></li>
      <li><a href="/qVegitables"><h4>You spend 21 dollars on vegetables at the store. You buy carrots, onions and celery. The celery cost half the cost of the onions. The onions cost have the cost of the carrots. How much did the onions cost?</h4></a></li>
      <li><a href="/qPiano"><h4>You spend a third of all the money you have on a piano. Half of your remaining money you use to buy a piano chair. A quarter of the rest of your money you use to buy piano books. What porportion of you original money is remaining?</h4></a></li>
      <li><a href="/qStore"><h4>You find three boxes at the store. One contains onions. Another contains potatoes. The third contains both onions and potatoes. However, all three of the boxes are labeled incorrectly so it's impossible to tell which box contains what. By opening just one box (but without looking in) and removing either a potatoe or onion, how can you immediate label the contents of all the boxes?</h4></a></li>
      <li><a href="/qBag"><h4>There are 8 bags of wheat, 7 of which weigh the same amount. However, there is one that weighs less than the others. You are given a balance scale used for weighing. In less than three steps, figure out which bag weighs less than the rest.</h4></a></li>
      <li><a href="/qRugby"><h4>There are 23 rugby teams playing in a tournament. What is the least number of games that must be played to find a tournament winner?</h4></a></li>
    </ul>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>