<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    .boxed {
          border: 1px solid green ;
          height: 190px;
          position: relative;
      }
      .boxLable{
          line-height: 90px;
      }
      .openButton{
          /* margin-bottom: 5px; */
      }
</style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="text-center">
    <h4 style="color: red;">Q. There are 8 bags of wheat, 7 of which weigh the same amount. However, there is one that weighs less than the others. You are given a balance scale used for weighing. In less than three steps, figure out which bag weighs less than the rest.</h4>
    <div class=" mt-4" id="totalWeightText"></div>
    <div class="row mt-4">
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 1</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="30">
                        <label class="form-check-label" for="">Bag 2</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 3</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 4</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 6</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 7</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pb-2">
            <div class="boxed">
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input weightInput" id="" value="40">
                        <label class="form-check-label" for="">Bag 8</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-2">
        <button class="btn btn-secondary measureButton">Measure Weight(3 times)</button>
    </div>
    <div class="pb-2">
        <select name="" id="answerSelect">
            <option value="">Select Answer Box</option>
            <option value="1">Box1</option>
            <option value="2">Box2</option>
            <option value="3">Box3</option>
            <option value="4">Box4</option> 
            <option value="5">Box5</option>
            <option value="6">Box6</option>
            <option value="7">Box7</option>
            <option value="8">Box8</option>
        </select>
    </div>
    <div>
        <button class="btn btn-secondary answerSubmit">Submit</button>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script>
    var randomIndex = randomNumber(1,8);
    var randomWeight = randomNumber(50, 100)
    var lessWeightIndex = 0;
    $('.weightInput').each(function(index,element) {
        if(index == randomIndex){
            lessWeightIndex = index + 1
            $(element).val(randomWeight-10)
        }else{
            $(element).val(randomWeight)
        }
    })
    var measureClicked = 1;
    $('.measureButton').click(function(){
        if(measureClicked > 3){
            alert('3 times clicked')
            return false
        }else{
            $(this).text(`Measure Weight(${3 - measureClicked} times)`)
            measureClicked++
        }
        var selectedWeight = 0;
        $('.weightInput:checked').each(function() {
            selectedWeight += parseInt($(this).val()) 
        });
        console.log(selectedWeight);
        $('#totalWeightText').append(`<h3>${measureClicked-1}: ${selectedWeight}</h3>`)
        $('.weightInput').prop('checked',false)
    })

    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min))+ min;
    }

    $('.answerSubmit').click(function(){
        if($('#answerSelect').val()){
            if(parseInt($('#answerSelect').val()) == lessWeightIndex){
                alert('Correct Answer')
            }else{
                alert('Wrong Answer')
            }
        }else{
            alert('Select an Answer')
            return false;
        }
    })
</script>
</body>
</html>