<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h4 style="color: red;">Q. Find how many degrees there between the two hands of a clock?</h4>
    <% if(ans) {%>
        <div class="pt-3 pb-3">
            <h4 style="color: green;">Answer: Angle between two hands is: <%= ans %>°</h4>
        </div>
    <%} %>
    <form method="GET" action="qClock">
        <div class="form-group">
          <label for="exampleInputEmail1">Time</label>
          <input type="time" class="form-control" id="" name="time" placeholder="Enter time" value="<%= time %>">
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>