<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="mb-5">
    <h4 style="color: red;">Q. A fire fighter has to get to a burning building as quickly as he can. There are three paths that he can take. He can take his fire engine over a large hill, windy road or dirt road with given speed and distance. Which way should he choose?</h4>
    <% if(answerKey) {%>
        <div class="pt-3 pb-3">
            <h4 style="color: green; text-transform: capitalize;">Answer: <%= answerKey %></h4>
        </div>
    <%} %>
    <div class="text-center mb-5">
        <img src="firetruck.png" alt="" style="width: 121px;">
    </div>
    <form method="GET" action="qFire">
        <div class="form-group">
            <div class="row text-center mb-5">
                <div class="col-md-4">
                    <div style="height: 120px;">
                        <img src="hill.png" width="130" alt="">
                    </div>
                    <label for="">Speed(in Miles/Hour)</label>
                    <input class="form-control" type="number" name="speed_hill">

                    <label for="">Distance</label>
                    <input class="form-control" type="number" name="distance_hill">
                </div>
                <div class="col-md-4">
                    <div style="height: 120px;">
                        <img src="road.png" width="130" alt="">
                    </div>
                    
                    <label for="">Speed(in Miles/Hour)</label>
                    <input class="form-control" type="number" name="speed_road">

                    <label for="">Distance</label>
                    <input class="form-control" type="number" name="distance_road">
                </div>
                <div class="col-md-4">
                    <div style="height: 120px;">
                        <img src="wind.png" width="130" alt="">
                    </div>    

                    <label for="">Speed(in Miles/Hour)</label>
                    <input class="form-control" type="number" name="speed_wind">

                    <label for="">Distance</label>
                    <input class="form-control" type="number" name="distance_wind">

                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Calculate</button> 
        </div>    
    </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>