<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
      hr{
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        border-top: 2px solid rgb(0 0 0) !important;
        width: 52px !important;
      }
  </style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h4 style="color: red;">Q. You spend a third of all the money you have on a piano. Half of your remaining money you use to buy a piano chair. A quarter of the rest of your money you use to buy piano books. What porportion of you original money is remaining?</h4>
    <div class="row mt-5 text-center">
        <div class="col-md-3">
            <div style="height: 140px;">
                <img src="piano.png" width="125" alt="">
            </div>
            <div class="text-center">
                <input type="text" style="width: 50px;" id="n_piano" placeholder="1"><br>
                <hr>
                <input type="text" style="width: 50px;" id="d_piano" placeholder="4">
            </div>
        </div>
        <div class="col-md-3">
            <div style="height: 140px;">
               <img src="chair.png" width="125" alt=""> 
            </div>
            
            <div class="text-center">
                <input type="text" style="width: 50px;" id="n_chair" placeholder="1"><br>
                <hr>
                <input type="text" style="width: 50px;" id="d_chair" placeholder="4">
            </div>
        </div>
        <div class="col-md-3">
            <div style="height: 140px;">
                <img src="piano_book.png" width="125" alt="">
            </div>
            
            <div class="text-center">
                <input type="text" style="width: 50px;" id="n_book" placeholder="1"><br>
                <hr>
                <input type="text" style="width: 50px;" id="d_book" placeholder="4">
            </div>
        </div>
        <div class="col-md-3">
            Rest
            <div>
                <input type="hidden" id="restVal" value="1">
                <h5 id="rest">1</h5> of total remain
            </div>
            <div class="mt-5">
                <button class="btn btn-secondary" id="resetBtn">Reset</button>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="fraction.min.js"></script>
<script>
    $('#resetBtn').click(function(){
        $('#n_piano, #d_piano, #n_chair, #d_chair, #n_book, #d_book').val('')
        $('#restVal').val(1)
        $('#rest').text('1')
    })

    $('#n_piano, #d_piano').on('input',function(){
        console.log('changed');
        if($('#d_piano').val()){
            var ans = $('#restVal').val() - ( $('#restVal').val() * $('#n_piano').val()/$('#d_piano').val() )
            $('#restVal').val(ans)
            ans =  new Fraction(ans)
            $('#rest').text(ans.toFraction(true))
        }
    })

    $('#n_chair, #d_chair').on('input',function(){
        console.log('changed');
        if($('#d_chair').val()){
            var ans = $('#restVal').val() - ( $('#restVal').val() * $('#n_chair').val()/$('#d_chair').val() )
            $('#restVal').val(ans)
            ans =  new Fraction(ans)
            $('#rest').text(ans.toFraction(true))
        }
    })

    $('#n_book, #d_book').on('input',function(){
        console.log('changed');
        if($('#d_book').val()){
            var ans = $('#restVal').val() - ( $('#restVal').val() * $('#n_book').val()/$('#d_book').val() )
            $('#restVal').val(ans)
            ans =  new Fraction(ans)
            $('#rest').text(ans.toFraction(true))
        }
    })
</script>
</body>
</html>