<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h4 style="color: red;">Q. There are 23 rugby teams playing in a tournament. What is the least number of games that must be played to find a tournament winner?</h4>
    <% if(ans) {%>
        <div class="pt-3 pb-3">
            <h4 style="color: green;">Answer: The least number of games that must be played to find a tournament winner is: <%= ans %></h4>
        </div>
    <%} %>
    <form method="GET" action="qRugby">
        <div class="form-group">
          <label for="">Total Rugby Teams</label>
          <input type="number" class="form-control" id="" name="total_teams" placeholder="Enter total team" value="">
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>