<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
      .boxed {
            border: 1px solid green ;
            height: 190px;
            position: relative;
        }
        .boxLable{
            line-height: 90px;
        }
        .openButton{
            /* margin-bottom: 5px; */
        }
  </style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="ans"></div>
    <h5 class="pt-2" style="color: red">Q. You find three boxes at the store. One contains onions. Another contains potatoes. The third contains both onions and potatoes. However, all three of the boxes are labeled incorrectly so it's impossible to tell which box contains what. By opening just one box (but without looking in) and removing either a potatoe or onion, how can you immediate label the contents of all the boxes?</h5>
    <div class="text-center">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="boxed">
                    <p class="boxLable">Onions</p>
                    <div class="pb-3">
                        <button class="btn btn-secondary openButton" >Open</button>
                        <button class="btn btn-secondary takeOne" style="display: none;" data-wrong="Onions">Take One</button>
                    </div>
                    
                    <div class="">
                        <select class="inputChoice">
                            <option value="">Select</option>
                            <option value="1">Onions</option>
                            <option value="2">Potatoes</option>
                            <option value="3">Onions & Potatoes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed">
                    <p class="boxLable">Potatoes</p>

                    <div class="pb-3">
                        <button class="btn btn-secondary openButton" >Open</button>
                        <button class="btn btn-secondary takeOne" style="display: none;" data-wrong="Potatoes">Take One</button>
                    </div>
                    
                    <div class="">
                        <select class="inputChoice">
                            <option value="">Select</option>
                            <option value="1">Onions</option>
                            <option value="2">Potatoes</option>
                            <option value="3">Onions & Potatoes</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed">
                    <p class="boxLable">Onions & Potatoes</p>
                    <div class="pb-3">
                        <button class="btn btn-secondary openButton" >Open</button>
                        <button class="btn btn-secondary takeOne" style="display: none;" data-wrong="Onions & Potatoes">Take One</button>
                    </div>
                    
                    <div class="">
                        <select class="inputChoice">
                            <option value="">Select</option>
                            <option value="1">Onions</option>
                            <option value="2">Potatoes</option>
                            <option value="3">Onions & Potatoes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <button class="btn btn-secondary submitButton">Submit</button>
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
<script>
    $('.openButton').click(function(){
        $('.openButton').hide()
        $(this).parent().find('.takeOne').show()
    })

    $('.takeOne').click(function(){
        if($(this).attr('data-wrong') == 'Onions'){
            var one = ["Onions", "Patatos"].sample()
            $(this).hide()
            $(this).parent().append(`<h3>${one}<h3>`)
        }else if($(this).attr('data-wrong') == 'Potatoes'){
            var one = "Onions"
            $(this).hide()
            $(this).parent().append(`<h3>${one}<h3>`)
        }else if($(this).attr('data-wrong') == 'Onions & Potatoes'){
            var one = "Patatos"
            $(this).hide()
            $(this).parent().append(`<h3>${one}<h3>`)
        }
    })

    $('.submitButton').click(function(){
        var arr = [];
        arr = $.map($(".inputChoice"),function(select){
                return $(select).val();
            });
            console.log(arr);
        if(_.isEqual(arr,['3','1','2'])){
            $('.ans').html('<h3 style="color: green">Correct Answer</h3>')
        }else{
            $('.ans').html('<h3 style="color: red">InCorrect Answer</h3>')
        }
    })
    

    Array.prototype.sample = function(){
        return this[Math.floor(Math.random()*this.length)];
    }
</script>
</body>
</html>