<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h4 style="color: red;">Q. You spend 21 dollars on vegetables at the store. You buy carrots, onions and celery. The celery cost half the cost of the onions. The onions cost have the cost of the carrots. How much did the onions cost?</h4>
    <% if(ans) {%>
        <div class="pt-3 pb-3">
            <h4 style="color: green;">Answer: Onion cost is: $<%= ans %></h4>
        </div>
    <%} %>
    <form method="GET" action="qVegitables">
        <div class="form-group">
          <label for="">Total amount spent on vegetables</label>
          <input type="number" class="form-control" id="" name="amount" placeholder="Enter Amount">
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>